@charset "utf-8";

/*========= レイアウトのためのCSS ===============*/

.TextTyping {
  text-align: center;
}

/*========= タイピング ===============*/

.TextTyping span {
  display: none;
}

/*文字列後ろの線の設定*/
.TextTyping::after {
  content: "|";
  animation: typinganime 1s ease infinite;
}

@keyframes typinganime{
  from{opacity:0}
  to{opacity:1}
}

/*--------------------------------------*/

body {
    background-color: white;
}