@charset "utf-8";

/*========= レイアウトのためのCSS ===============*/

.TextTyping {
  text-align: center;
}

/*========= タイピング ===============*/

.TextTyping span {
  display: none;
}

/*文字列後ろの線の設定*/
.TextTyping::after {
  content: "|";
  animation: typinganime 1s ease infinite;
}

@keyframes typinganime{
  from{opacity:0}
  to{opacity:1}
}

/*--------------------------------------*/

body {
    background-color: #2b2b2b;
    font-family: 'Arial','Courier','メイリオ',sans-serif;
    color: white;
    padding-top:4.5rem;
}

